<div class='navbar' >
  <div class="left-side">
    <li class='nav-item' *ngIf="isMobile">
      <button (click)="toggleExpand()"><i class="fa-solid fa-bars"></i></button>
    </li>
    <li class="nav-item" *ngIf="!isMobile">
      <a class="nav-link"
         routerLink="/">4T
      </a>
    </li>
    <li class="nav-item" *ngIf="!isMobile">
      <a class="nav-link"
         routerLink="/formulaire">Formulaire
      </a>
    </li>
  </div>
  <div class="right-side" *ngIf="!isMobile">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/login">Se connecter
      </a>
    </li>
  </div>
</div>


<div class='sidenav' *ngIf="isMobile">
  <div class="left-side">
    <li class="nav-item" *ngIf="isExpanded">
      <a class="nav-link"
         routerLink="/"
         (click)="closeSidenav()">4T
      </a>
    </li>
    <li class="nav-item" *ngIf="isExpanded">
      <a class="nav-link"
         routerLink="/formulaire"
         (click)="closeSidenav()">Formulaire
      </a>
    </li>
  </div>
  <div class="right-side" *ngIf="isExpanded">
    <li class="nav-item" >
      <a class="nav-link"
         routerLink="/login"
         (click)="closeSidenav()">Se connecter
      </a>
    </li>
  </div>
</div>

<router-outlet></router-outlet>
