.flex-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 20px;
}

.chip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

mat-chip-option {
}

button {
    margin: 0 10px 0 10px;
}
