<div class="flex-container">
    <h1>Choix du contrat</h1>
    <p *ngIf="nextChoices.length != 0">Les modalités d'organisation de la durée de travail sont:</p>
    <mat-chip-listbox>
        <mat-chip-option [ngClass]="{'selected-chip': choices.includes(choice)}" *ngFor="let choice of nextChoices" (click)="onChoiceClick(choice)"><span class="choice">{{choice}}</span></mat-chip-option>
    </mat-chip-listbox>
    <div class="button-container">
        <button mat-raised-button (click)="onNextClick()" *ngIf="nextChoices.length != 0">Suivant</button>
        <button mat-raised-button color="primary" (click)="restart()" *ngIf="nextChoices.length == 0 && choices.length!=0">Reset</button>
        <button mat-raised-button (click)="generatePdf()" *ngIf="nextChoices.length == 0 && choices.length!=0">Télécharger le contrat</button>
    </div>
</div>
