<div class="flex-container">
    <h3 class="title">Choix du contrat</h3>

    <p *ngIf="nextChoices.length != 0">Les modalités d'organisation de la durée de travail sont:</p>
    <ng-container *ngIf="nextChoices.length == 0 && choices.length!=0">
        <p>Les modalités du contrat selectionnées sont les suivantes:</p>
        <ul>
            <li *ngFor="let choice of choices">{{choice}}</li>
        </ul>
    </ng-container>
    <div class="chip-container">
        <ion-chip class="custom-chip"
                  [outline]="true"
                  [ngClass]="{'custom-chip-selected': selectedChoice === choice}"
                  *ngFor="let choice of nextChoices"
                  (click)="onChoiceClick(choice)"><span class="choice">{{choice}}</span></ion-chip>
    </div>



    <div class="button-container">
        <ion-button [color]="'light'" (click)="restart()"> Recommencer</ion-button>
        <ion-button [color]="'dark'" (click)="onNextClick()" *ngIf="nextChoices.length != 0">Suivant</ion-button>
        <ion-button [color]="'dark'" (click)="generatePdf()" *ngIf="nextChoices.length == 0 && choices.length!=0">Télécharger</ion-button>
    </div>
</div>
